name: Deploy, test and build
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: install nodejs
        uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Run linting
        run: |
          npm run lint
          echo "Linting in progress....."
  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: install nodejs
        uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Run test
        run: |
          npm test
          echo "testing in progress....."
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5
      - name: install nodejs
        uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: Install Dependencies
        run: npm ci
      - name: Build project
        run: |
          npm run build
          echo "Linting in progress....."
      - name: Deploy
        run: echo "Deploying Project....."
